<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">

        <!-- Titulo del Nav -->
        <span class="navbar-brand mb-0 h1">Sebasoft S.A.</span>

        <!-- Boton desplegrable del Nav -->
        <div class="row">
            <div class="col text-right">
                <div ngbDropdown class="d-inline-block" style="margin-right: 75px;">
                    <button class="btn btn-outline-success btn-sm" id="dropdownBasic1" ngbDropdownToggle>Opciones</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem class="btn-sm">Action - 1</button>
                        <button ngbDropdownItem class="btn-sm">Another Action</button>
                        <button ngbDropdownItem class="btn-sm">Something else is here</button>
                    </div>
                </div>
            </div>
        </div>

    </div>    

</nav>